yolo-series/runs
yolo-series/wandb
*.pt
*.onnx
*/*/target
.vscode
LLM/cache
LLM/exp*
LLM/run
LLM/*.json
LLM/transformers/test_trainer
*/__pycache__
*/*/__pycache__
*/ML-LHY/ML*
*/ML-LHY/*.json
*/ML-LHY/*.txt